*, html {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: Helvetica;
 user-select: none;
}

body {
 user-select: none;
 background-color: black;
}

.container-hbd {
 height: 100vh;
 width: 100%;
 display: flex;
 inset: 0;
 position: fixed;
 align-items: center;
 justify-content: center;
}

.text {
 font-size: 18px;
 color: white;
 font-family: "Playwrite AU VIC", cursive;
 font-optical-sizing: auto;
 font-weight: 400;
 font-style: normal;
 width: 100%;
 padding: 0 25px;
 text-align: center;
}

.container {
 width: 100%;
 height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
 flex-direction: column;
}

.button {
 opacity: .6;
 position: fixed;
 height: 45px;
 width: 45px;
 bottom: 25px;
 right: 25px;
 display: flex;
 font-weight: 500;
 font-size: 20px;
 border-radius: 50%;
 align-items: center;
 flex-direction: column;
 justify-content: center;
 border: 2px solid white;
 color: white;
}

.button:hover {
 opacity: 1;
}

.button:hover label {
 opacity: 1;
 visibility: visible;
}
.button:hover input {
 opacity: 1;
 visibility: visible;
}
.button:hover button {
 opacity: 1;
 visibility: visible;
}

.button label {
 opacity: 0;
 visibility: hidden;
 top: -1300%;
 right: 50%;
 width: 250px;
 padding: 15px;
 font-size: 12px;
 border-radius: 5%;
 position: absolute;
 border: 1px solid white;
 background-color: #030303c3;
 transition: .3s ease-in;
}

input {
 transition: .3s ease-in;
 visibility: hidden;
 opacity: 0;
 top: -160%;
 right: 200%;
 padding: 7px;
 width: 180px;
 color: white;
 border-radius: 5%;
 position: absolute;
 border: 1px solid white;
 background-color: #030303c3;
}

button {
 transition: .3s ease-in;
 visibility: 0;
 opacity: 0;
 color: white;
 top: -160%;
 right: 50%;
 position: absolute;
 font-weight: 450;
 font-size: 15px;
 border-radius: 5%;
 padding: 6px 10px;
 border: 1px solid white;
 background-color: #030303c3;
}

#particles-game, #particles-games {
 width: 100%;
 height: 100vh;
}

#particles-games {
 position: absolute;
 top: 0;
 left: 0;
}